@import url("https://fonts.googleapis.com/css2?family=Hubballi&family=Montserrat:wght@300;400;500;600&family=Roboto:wght@300;400;500;700&display=swap");
body {
  font-family: 'Montserrat', sans-serif;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

body .container {
  max-width: 1440px;
}

body .nav-01 {
  padding: 20px 0;
  border-bottom: 1px solid #eceef4;
}

body .nav-01 .skoring a {
  border-color: #e31e24;
  cursor: pointer;
  color: #e31e24;
  font-weight: 500;
  padding: 15px;
  border-radius: 10px;
}

body .nav-01 .skoring a i {
  padding-right: 10px;
}

body .nav-01 .skoring a:hover {
  color: #fff;
  background-color: #e31e24;
}

body .nav-01 .search input {
  border-radius: 0;
}

body .nav-01 .search input:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
  border-color: #e31e24;
}

body .nav-01 .search a {
  border-radius: 0;
  background-color: #e31e24;
}

body .nav-01 .contact i {
  color: #e31e24;
  font-size: 20px;
}

body .nav-01 .contact p {
  margin: 0 0 0 10px;
}

body .nav-01 .my_Btn a {
  color: #fff;
  background: #e31e24;
}

body .nav-01 .my_Btn a:hover {
  border-color: 1px solid #e31e24;
  background-color: #fff;
  color: #e31e24;
}

body .nav-02 {
  padding: 20px 0;
  border-radius: 0 0 16px 16px;
  -webkit-box-shadow: 0 9px 11px rgba(31, 41, 124, 0.08);
          box-shadow: 0 9px 11px rgba(31, 41, 124, 0.08);
}

body .nav-02 .katalog {
  position: relative;
}

body .nav-02 .katalog::after {
  content: '';
  position: absolute;
  top: 50%;
  right: 0px;
  width: 2px;
  height: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: silver;
}

body .nav-02 .katalog i {
  margin-right: 8px;
}

body .nav-02 .btn {
  font-size: 18px;
  font-weight: 600;
  color: #282830;
  text-transform: uppercase;
}

body .nav-02 .btn:hover {
  color: #e31e24;
}

body .nav-02 .btn-light {
  border-radius: 10px;
}

body .pop-categories h2 {
  font-weight: 600;
  font-size: 40px;
}

body .pop-categories .pop-category a {
  text-decoration: none;
  color: #282830;
}

body .pop-categories .pop-category .card {
  border-radius: 10px;
}

body .pop-categories .pop-category .card a {
  padding: 10px;
}

body .pop-products .pop-pro-sidebar a {
  overflow: hidden;
  display: block;
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
          box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12) !important;
  border-radius: 16px;
}

body .pop-products .pop-pro-sidebar a img {
  border-radius: 16px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

body .pop-products .pop-pro-sidebar a img:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

body .pop-products .pop-product a {
  text-decoration: none;
  color: #282830;
}

body .pop-products .pop-product h2 {
  font-weight: 600;
  font-size: 40px;
}
/*# sourceMappingURL=main.css.map */